/* CSS files add styling rules to your content */
/* Stylesheet for The Frost Shop's page */

body { /* Main Part of the website */
  font-family: "Bebas Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #545454;
}

h1 { /* Headings */
  font-style: bold;
  color: #4398FF;
}

p { /* paragraths */
  font-style: bold;
  color: white;
}
