/* CSS files add styling rules to your content */
/* I like the Comic Sans MS font a lot */

body { /* Main Part of the website */
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
}

h1 { /* Headings */
  font-style: bold;
  color: #4398FF;
}

.header {
  padding: 20px;
  text-align: center;
  background: rgb(136,149,255);
  background: linear-gradient(0deg, rgba(136,149,255,1) 0%, rgba(0,80,255,1) 100%);
  color: white;
  font-size: 30px;
}
