.navbar {
	background: #FF8888;
	color: white;
	font-size: 20px;
	width: 100%;
	height: 60px;    box-shadow: 0 -1px 20px 0 black;
	position:sticky;
	top:0;
	}
#head_home {
	padding: 3px;
	float: left;
	}
.head_button {
	color: white;
	background-color: #FF8888;
	font-size: 19px;
	transition-duration: 0.4s;
	padding: 16px;
	text-decoration: none;
	text-align: center;
	float: right;
	}
.head_button:hover {
	background-color: #F38484;
	}
#head_title {
	float: left;
	color: white;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 20px;
	}
